{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1>Checkout</h1>

<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    {% for product in cart.products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
</table>

<p>Total: {{ grand_total_plus_shipping }}</p>
<form method="post">
    <input type="submit" value="Checkout" {% if not current_user.is_authenticated %}disabled{% endif %}>
    {% if not current_user.is_authenticated %}
    <span>Please log in to proceed with checkout.</span>
    {% endif %}
</form>
{% endblock %}