{% extends 'bootstrap/base.html' %}
{% block title %}
{% if title %}
{{ title }} - Microblog
{% else %}
{{ _('Welcome to Microblog') }}
{% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="100" height="30"
                    fill="currentColor" viewBox="0 0 2363.82 775.9">
                    <g>
                        <path
                            d="m740.71,165.12L462.45,4.47c-15.93-9.2-36.31-3.74-45.51,12.19l-113.84,197.18,70.49,93.34,34.7-60.11h301.43l-28.47,49.32,110.72,191.77-50.04,86.67h-108.04l-39.98-69.25h-56.18s-86.29,149.46-86.29,149.46l4.84,2.72c154.3,89.08,343.75,50.84,422.32-85.25,78.57-136.09,16.4-318.3-137.9-407.38Z">
                        </path>
                        <path
                            d="m3.82,732.21c-10.86,18.81,2.7,42.32,24.42,42.34l242.28.25.07-.12-125.39-287.34L3.82,732.21Z">
                        </path>
                        <path
                            d="m357.18,335.62l.02-.03L156.82,70.33c-8.35-11.05-25.71-7.89-29.63,5.39l-44.7,151.42c-4.66,15.78-3.61,32.71,2.98,47.79l203.9,467.24,127.6-221-94.59-125.25,34.81-60.29Z">
                        </path>
                    </g>
                    <g>
                        <g>
                            <path
                                d="m976.14,143.98c4.77,8.25,13.57,13.34,23.1,13.34h342c5.54,0,21.87,7.12,21.87,13.45v165.32c0,19.77,6.33,37.97,17.4,51.42,11.07,12.66,27.69,20.56,48.26,20.56h161.49c5.57,0,10.73-2.97,13.51-7.8l24-41.56c6.01-10.4-1.5-23.41-13.51-23.41h-125.38c-7.12,0-14.24-6.33-14.24-14.24v-165.32c0-19.78-6.32-36.39-17.4-48.25-13.45-15.03-33.22-22.94-56.16-22.94h-430.67c-12.71,0-20.65,13.76-14.3,24.76l20.02,34.67Z">
                            </path>
                            <path
                                d="m1614.27,702.34h-120.63c-8.7,0-17.41-8.7-17.41-18.19v-188.27c0-21.35-6.33-37.18-16.61-49.04-14.24-15.82-36.39-22.94-63.28-22.94h-64.66v74.35h18.78c6.12,0,11.08,4.96,11.08,11.08v193.01c0,22.15,7.11,39.55,18.98,52.21,13.45,13.45,33.22,21.35,56.96,21.35h152.33c5.57,0,10.73-2.97,13.51-7.8l24.45-42.35c6.01-10.4-1.5-23.41-13.51-23.41Z">
                            </path>
                            <path
                                d="m1516.88,172.4h56.34c6.33,0,12.03-3.82,14.43-9.67l21.04-51.21c4.22-10.27-3.33-21.53-14.43-21.53h-56.34c-6.33,0-12.03,3.82-14.43,9.67l-21.04,51.21c-4.22,10.27,3.33,21.53,14.43,21.53Z">
                            </path>
                            <path
                                d="m1538.03,305.73c2.4,5.85,8.11,9.67,14.43,9.67h56.34c11.1,0,18.65-11.26,14.43-21.53l-35.58-86.62c-2.4-5.85-8.11-9.67-14.43-9.67h-56.34c-11.1,0-18.65,11.26-14.43,21.53l35.58,86.62Z">
                            </path>
                            <path
                                d="m1516.88,538.95h56.34c6.33,0,12.03-3.82,14.43-9.67l21.04-51.21c4.22-10.27-3.33-21.53-14.43-21.53h-56.34c-6.33,0-12.03,3.82-14.43,9.67l-21.04,51.21c-4.22,10.27,3.33,21.53,14.43,21.53Z">
                            </path>
                            <path
                                d="m1502.44,585.66l35.58,86.62c2.4,5.85,8.11,9.67,14.43,9.67h56.34c11.1,0,18.65-11.26,14.43-21.53l-35.58-86.62c-2.4-5.85-8.11-9.67-14.43-9.67h-56.34c-11.1,0-18.65,11.26-14.43,21.53Z">
                            </path>
                            <path
                                d="m1284.31,205.79h-79.76c-9.86,0-17.86,8-17.86,17.86v200.25h-29.54v74.35h29.54v259.79c0,9.86,8,17.86,17.86,17.86h79.76c9.86,0,17.86-8,17.86-17.86V223.65c0-9.86-8-17.86-17.86-17.86Z">
                            </path>
                            <path
                                d="m1129.07,191.4l-104.42,34.83c-6.12,2.04-10.25,7.77-10.25,14.23v263.23c-2.89,110.06-24.66,183.72-79.75,256.12-5.02,6.6-.36,16.09,7.93,16.09h99.37c5.17,0,9.99-2.66,12.73-7.05,45.03-72.18,64.83-154.44,68.6-265.15l.72-216.31,14.56-4.86c6.12-2.04,10.25-7.77,10.25-14.23v-62.67c0-10.24-10.03-17.47-19.75-14.23Z">
                            </path>
                        </g>
                        <g>
                            <path
                                d="m2199.66,667.82c7.05,0,12.4-6.36,11.19-13.31l-17.26-99.18c-.95-5.44-5.67-9.41-11.19-9.41h-75.62c-7.05,0-12.4,6.36-11.19,13.31l17.26,99.18c.95,5.44,5.67,9.41,11.19,9.41h75.63Z">
                            </path>
                            <path
                                d="m2057.92,545.92h-75.74c-6.54,0-11.68,5.57-11.19,12.01l-.44,135.21c.23,5.94,5.16,10.7,11.19,10.7h75.59c6.54,0,11.68-5.56,11.19-12l.59-135.21c-.23-5.94-5.16-10.72-11.19-10.72Z">
                            </path>
                            <path
                                d="m1933.44,545.92h-75.86c-6.04,0-10.97,4.77-11.19,10.72l-18.14,171.23c-.48,6.44,4.65,12,11.19,12h75.56c6.03,0,10.96-4.76,11.19-10.7l18.44-171.23c.5-6.45-4.64-12.02-11.19-12.02Z">
                            </path>
                            <path
                                d="m1808.97,545.92h-75.98c-5.53,0-10.25,3.98-11.19,9.42l-35.84,207.26c-1.2,6.95,4.15,13.3,11.19,13.3h75.53c5.52,0,10.24-3.97,11.19-9.4l36.3-207.26c1.22-6.95-4.13-13.32-11.19-13.32Z">
                            </path>
                            <path
                                d="m2345.63,465.82c-12.66-14.24-30.06-24.52-46.67-24.52h-168.11v-48.44h132.06c4.08,0,7.86-2.18,9.9-5.72l26.53-45.95c4.4-7.63-1.1-17.15-9.9-17.15h-158.59v-49.04h132.52c4.08,0,7.86-2.18,9.9-5.72l26.07-45.15c4.4-7.63-1.1-17.15-9.9-17.15h-158.59v-24.89h-116.28v24.89h-158.34v68.03h158.34v49.04h-158.34v68.82h158.34v48.44h-172.81c-7.91,0-15.03-11.07-15.03-18.19v-253.13c0-9.5,7.91-17.4,18.19-17.4h70.31v-68.82h-134.38c-19.78,0-37.97,6.32-51.42,18.19-13.44,11.07-21.35,27.68-21.35,48.25v287.94c0,19.77,6.33,37.18,17.4,49.04,13.45,14.24,32.43,22.94,55.38,22.94h448.51c5.54,0,15.03,8.7,15.03,15.82v162.16c0,7.83-6.41,14.24-14.24,14.24h-109.72l7.94,45.83c2.77,16.01,16.7,27.67,32.95,27.59l129.75-.65c21.36,0,40.34-8.7,53.79-22.94,11.86-12.66,18.98-29.27,18.98-49.04v-196.97c0-13.45-7.12-28.48-18.19-40.34Z">
                            </path>
                            <path
                                d="m2299.29,152.58c4.08,0,7.86-2.18,9.9-5.72l26.53-45.95c4.4-7.63-1.1-17.15-9.9-17.15h-381.1v68.82h354.57Z">
                            </path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜尋產品..." style="width: 600px;">
                        </div>
                        <button type="submit" style="background-color: purple; color: white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="white"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                        <div class="hot-keys svelte-1k7y91a" style="display: flex;
                                        flex-wrap: wrap;
                                        align-items: center">
                            <div class="hot-title svelte-1k7y91a" data-svelte-h="svelte-ovgdyn">熱門搜尋 :</div>
                            <button class="svelte-1k7y91a">4070 super</button>
                            <button class="svelte-1k7y91a">4060</button>
                            <button class="svelte-1k7y91a">
                                4090
                            </button>
                            <button class="svelte-1k7y91a">
                                AMD Ryzen 7
                            </button>
                            <button class="svelte-1k7y91a">
                                WD
                            </button>
                            <button class="svelte-1k7y91a">
                                MSI
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>常見問題</b><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">聯絡我們</a>
                        </li>
                        <li>
                            <a href="#">退貨及售後支援</a>
                        </li>
                        <li>
                            <a href="#">購買流程</a>
                        </li>
                        <li>
                            <a href="#">付款方式</a>
                        </li>
                        <li>
                            <a href="#">除舊服務條款</a>
                        </li>
                        <li>
                            <a href="#">飛馬電腦節2021</a>
                        </li>
                        <li>
                            <a href="#">意見回饋</a>
                        </li>
                        <li>
                            <a href="#">關於我們</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('checkout') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-cart3"
                            viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </li>
                {% if current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('login') }}">{{ _('Login') }}</a>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('explore') }}">{{ _('Explore') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('order_info') }}">Order Info</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<nav class="site-header sticky-top" style="background-color: #353a3a;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
                text-align: center;
                padding: 16px">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="link" href="#" style="color: white;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">
            <!-- SVG code -->
        </a>
        <a class="d-none d-md-inline-block link" href="{{ url_for('index') }}" style="color: white;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">產品目錄</a>
        <a class="d-none d-md-inline-block link" href="#" style="color: white;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">電腦砌機組合</a>
        <a class="d-none d-md-inline-block link" href="#" style="color: white;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">最新優惠</a>
        <a class="d-none d-md-inline-block link" href="{{ url_for('order_form') }}" style="color: white;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">自選砌機</a>
    </div>
</nav>
<!-- CSS (jQuery) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("a.link").hover(function () {
            $(this).css("color", "#9370DB");
            $(this).css("text-decoration", "none");
        }, function () {
            $(this).css("color", "white");
            $(this).css("text-decoration", "none");
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

<div class="col-lg-2">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <section class="filters svelte-l0mnyw">
                        <div class="svelte-l0mnyw" style="--header-height: 0px;">
                            <div class="svelte-l0mnyw">
                                <div>

                                    <h3 class="svelte-l0mnyw" data-svelte-h="svelte-102wr7m">廠商</h3>
                                    </button>
                                </div>
                            </div>
                            <div class="filter-brands svelte-l0mnyw">
                                <li> <label for="Nvidia" class="svelte-l0mnyw"><input type="checkbox" id="Nvidia"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">Nvidia</h4>
                                    </label></li>
                                <li><label for="Colorful" class="svelte-l0mnyw"><input type="checkbox" id="Colorful"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">Colorful</h4>
                                    </label></li>
                                <li><label for="GALAX" class="svelte-l0mnyw"><input type="checkbox" id="GALAX"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw"> GALAX</h4>
                                    </label></li>
                                <li><label for="MSI 微星" class="svelte-l0mnyw"><input type="checkbox" id="MSI 微星"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">Colorful</h4>
                                    </label></li>
                                <li><label for="Inno3D" class="svelte-l0mnyw"><input type="checkbox" id="Inno3D"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">Inno3D</h4>
                                    </label></li>
                                <li><label for="PNY" class="svelte-l0mnyw"><input type="checkbox" id="PNY"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">PNY</h4>
                                    </label></li>
                                <li><label for="ASUS 華碩" class="svelte-l0mnyw"><input type="checkbox" id="ASUS 華碩"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">ASUS 華碩</h4>
                                    </label></li>
                                <li><label for="GIGABYTE 技嘉" class="svelte-l0mnyw"><input type="checkbox"
                                            id="GIGABYTE 技嘉" class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">GIGABYTE 技嘉</h4>
                                    </label></li>
                                <li><label for="ZOTAC" class="svelte-l0mnyw"><input type="checkbox" id="ZOTAC"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">ZOTAC</h4>
                                    </label></li>
                                <li><label for="PALIT" class="svelte-l0mnyw"><input type="checkbox" id="PALIT"
                                            class="svelte-l0mnyw">
                                        <h4 class="svelte-l0mnyw">PALIT</h4>
                                    </label></li>

                    </section>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-9">
    <div class="categories-main svelte-1t16q48">
        <div class="categories-list svelte-1t16q48">
            <table>
                <tr>
                    <td>
                        <div class="products svelte-l0mnyw">
                            <div class="product svelte-1f32ki5">
                                <a class="product-image svelte-1f32ki5"
                                    title="ASUS 華碩 DUAL GeForce RTX 4060 Ti EVO 8G OC 顯示卡"
                                    onclick="return confirm('庫存不足');">
                                    <picture class="svelte-1bxpv5r">
                                        <source
                                            srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c30099e8-f1a4-40c7-5e09-9fb504b31900/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c30099e8-f1a4-40c7-5e09-9fb504b31900/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c30099e8-f1a4-40c7-5e09-9fb504b31900/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c30099e8-f1a4-40c7-5e09-9fb504b31900/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c30099e8-f1a4-40c7-5e09-9fb504b31900/1600w 1600w"
                                            sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                            src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c30099e8-f1a4-40c7-5e09-9fb504b31900/public"
                                            alt="ASUS 華碩 DUAL GeForce RTX 4060 Ti EVO 8G OC 顯示卡" loading="lazy"
                                            decoding="async" class="svelte-1bxpv5r">
                                    </picture>
                                </a>
                                <div class="info svelte-1f32ki5">
                                    <div class="tags svelte-1f32ki5">
                                        <p class="svelte-1nr89u9     type5">免費送貨</p>
                                    </div> <a class="name svelte-1f32ki5"
                                        href="/products/217401/ASUS-華碩-DUAL-GeForce-RTX-4060-Ti-EVO-8G-OC-顯示卡"
                                        title="ASUS 華碩 DUAL GeForce RTX 4060 Ti EVO 8G OC 顯示卡">
                                        <h2 class="svelte-1f32ki5">ASUS 華碩 DUAL GeForce RTX 4060 Ti EVO 8G OC 顯示卡</h2>
                                    </a>
                                    <div class="price svelte-1f32ki5">
                                        <p class="svelte-1f32ki5">HK$3,299</p>

                                    </div>

                                </div>
                            </div>

                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/213271/ASUS-華碩-DUAL-WHITE-GeForce-RTX-4070-12G-GDDR6X-OC-白色顯示卡"
                                title="ASUS 華碩 DUAL WHITE GeForce RTX 4070 12G GDDR6X OC 白色顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/f86c6909-5379-4176-0076-9402575df100/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/f86c6909-5379-4176-0076-9402575df100/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/f86c6909-5379-4176-0076-9402575df100/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/f86c6909-5379-4176-0076-9402575df100/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/f86c6909-5379-4176-0076-9402575df100/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/f86c6909-5379-4176-0076-9402575df100/public"
                                        alt="ASUS 華碩 DUAL WHITE GeForce RTX 4070 12G GDDR6X OC 白色顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/213271/ASUS-華碩-DUAL-WHITE-GeForce-RTX-4070-12G-GDDR6X-OC-白色顯示卡"
                                    title="ASUS 華碩 DUAL WHITE GeForce RTX 4070 12G GDDR6X OC 白色顯示卡">
                                    <h2 class="svelte-1f32ki5">ASUS 華碩 DUAL WHITE GeForce RTX 4070 12G GDDR6X OC 白色顯示卡
                                    </h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$4,399</p>

                                </div>

                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/217930/ASUS-華碩-DUAL-GeForce-RTX-4070-Super-12G-GDDR6X-EVO-顯示卡"
                                title="ASUS 華碩 DUAL GeForce RTX 4070 Super 12G GDDR6X EVO 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b2128574-22a8-41d9-d4d6-598963b04300/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b2128574-22a8-41d9-d4d6-598963b04300/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b2128574-22a8-41d9-d4d6-598963b04300/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b2128574-22a8-41d9-d4d6-598963b04300/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b2128574-22a8-41d9-d4d6-598963b04300/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b2128574-22a8-41d9-d4d6-598963b04300/public"
                                        alt="ASUS 華碩 DUAL GeForce RTX 4070 Super 12G GDDR6X EVO 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/217930/ASUS-華碩-DUAL-GeForce-RTX-4070-Super-12G-GDDR6X-EVO-顯示卡"
                                    title="ASUS 華碩 DUAL GeForce RTX 4070 Super 12G GDDR6X EVO 顯示卡">
                                    <h2 class="svelte-1f32ki5">ASUS 華碩 DUAL GeForce RTX 4070 Super 12G GDDR6X EVO 顯示卡
                                    </h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$5,350</p>

                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/213591/MSI-微星-VENTUS-3X-GeForce-RTX-4060-Ti-8G-OC-顯示卡"
                                title="MSI 微星 VENTUS 3X GeForce RTX 4060 Ti 8G OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/ffd94807-6234-4685-4528-f3d214a9b900/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/ffd94807-6234-4685-4528-f3d214a9b900/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/ffd94807-6234-4685-4528-f3d214a9b900/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/ffd94807-6234-4685-4528-f3d214a9b900/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/ffd94807-6234-4685-4528-f3d214a9b900/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/ffd94807-6234-4685-4528-f3d214a9b900/public"
                                        alt="MSI 微星 VENTUS 3X GeForce RTX 4060 Ti 8G OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/213591/MSI-微星-VENTUS-3X-GeForce-RTX-4060-Ti-8G-OC-顯示卡"
                                    title="MSI 微星 VENTUS 3X GeForce RTX 4060 Ti 8G OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">MSI 微星 VENTUS 3X GeForce RTX 4060 Ti 8G OC 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$3,299</p>

                                </div>

                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/214298/ASUS-華碩-DUAL-WHITE-GeForce-RTX-4060-8G-OC-白色顯示卡"
                                title="ASUS 華碩 DUAL WHITE GeForce RTX 4060 8G OC 白色顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/356d57dc-69da-4a98-2666-a348b541c800/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/356d57dc-69da-4a98-2666-a348b541c800/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/356d57dc-69da-4a98-2666-a348b541c800/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/356d57dc-69da-4a98-2666-a348b541c800/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/356d57dc-69da-4a98-2666-a348b541c800/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/356d57dc-69da-4a98-2666-a348b541c800/public"
                                        alt="ASUS 華碩 DUAL WHITE GeForce RTX 4060 8G OC 白色顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/214298/ASUS-華碩-DUAL-WHITE-GeForce-RTX-4060-8G-OC-白色顯示卡"
                                    title="ASUS 華碩 DUAL WHITE GeForce RTX 4060 8G OC 白色顯示卡">
                                    <h2 class="svelte-1f32ki5">ASUS 華碩 DUAL WHITE GeForce RTX 4060 8G OC 白色顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$2,399</p>

                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/214510/ASUS-華碩-ProArt-GeForce-RTX-4060-8G-GDDR6-OC-顯示卡"
                                title="ASUS 華碩 ProArt GeForce RTX 4060 8G GDDR6 OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/8cd63448-587b-489b-c06c-2cb51b851d00/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/8cd63448-587b-489b-c06c-2cb51b851d00/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/8cd63448-587b-489b-c06c-2cb51b851d00/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/8cd63448-587b-489b-c06c-2cb51b851d00/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/8cd63448-587b-489b-c06c-2cb51b851d00/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/8cd63448-587b-489b-c06c-2cb51b851d00/public"
                                        alt="ASUS 華碩 ProArt GeForce RTX 4060 8G GDDR6 OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/214510/ASUS-華碩-ProArt-GeForce-RTX-4060-8G-GDDR6-OC-顯示卡"
                                    title="ASUS 華碩 ProArt GeForce RTX 4060 8G GDDR6 OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">ASUS 華碩 ProArt GeForce RTX 4060 8G GDDR6 OC 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$2,450</p>

                                </div>
                            </div>

                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/213592/MSI-微星-VENTUS-2X-BLACK-GeForce-RTX-4060-Ti-8G-OC-顯示卡"
                                title="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 Ti 8G OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/bc69da36-31bd-4842-a015-8d24da469200/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/bc69da36-31bd-4842-a015-8d24da469200/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/bc69da36-31bd-4842-a015-8d24da469200/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/bc69da36-31bd-4842-a015-8d24da469200/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/bc69da36-31bd-4842-a015-8d24da469200/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/bc69da36-31bd-4842-a015-8d24da469200/public"
                                        alt="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 Ti 8G OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/213592/MSI-微星-VENTUS-2X-BLACK-GeForce-RTX-4060-Ti-8G-OC-顯示卡"
                                    title="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 Ti 8G OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 Ti 8G OC 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$3,220</p>

                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/214003/MSI-微星-VENTUS-2X-BLACK-GeForce-RTX-4060-8G-OC-顯示卡"
                                title="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/public"
                                        alt="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/214003/MSI-微星-VENTUS-2X-BLACK-GeForce-RTX-4060-8G-OC-顯示卡"
                                    title="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$2,350</p>

                                </div>

                            </div>
                        </div>


                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/214003/MSI-微星-VENTUS-2X-BLACK-GeForce-RTX-4060-8G-OC-顯示卡"
                                title="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/c165418c-6ebd-4e5c-b3ce-0f9884f3f700/public"
                                        alt="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/214003/MSI-微星-VENTUS-2X-BLACK-GeForce-RTX-4060-8G-OC-顯示卡"
                                    title="MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">MSI 微星 VENTUS 2X BLACK GeForce RTX 4060 8G OC 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$2,350</p>

                                </div>

                            </div>
                        </div>
                    <td>
                        <div class="product svelte-1f32ki5"> <a class="product-image svelte-1f32ki5"
                                href="/products/217048/MSI-微星-VENTUS-3X-GeForce-RTX-4080-SUPER-16G-OC-顯示卡"
                                title="MSI 微星 VENTUS 3X GeForce RTX 4080 SUPER 16G OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/38c9f956-9b63-4f3f-2d06-bf39db78d700/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/38c9f956-9b63-4f3f-2d06-bf39db78d700/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/38c9f956-9b63-4f3f-2d06-bf39db78d700/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/38c9f956-9b63-4f3f-2d06-bf39db78d700/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/38c9f956-9b63-4f3f-2d06-bf39db78d700/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/38c9f956-9b63-4f3f-2d06-bf39db78d700/public"
                                        alt="MSI 微星 VENTUS 3X GeForce RTX 4080 SUPER 16G OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/217048/MSI-微星-VENTUS-3X-GeForce-RTX-4080-SUPER-16G-OC-顯示卡"
                                    title="MSI 微星 VENTUS 3X GeForce RTX 4080 SUPER 16G OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">MSI 微星 VENTUS 3X GeForce RTX 4080 SUPER 16G OC 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$9,599</p>
                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/216993/MSI-微星-GAMING-X-SLIM-GeForce-RTX-4070-Ti-SUPER-16G-OC-顯示卡"
                                title="MSI 微星 GAMING X SLIM GeForce RTX 4070 Ti SUPER 16G OC 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b711de6a-4dad-4bfb-37d6-69a7c655ba00/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b711de6a-4dad-4bfb-37d6-69a7c655ba00/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b711de6a-4dad-4bfb-37d6-69a7c655ba00/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b711de6a-4dad-4bfb-37d6-69a7c655ba00/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b711de6a-4dad-4bfb-37d6-69a7c655ba00/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/b711de6a-4dad-4bfb-37d6-69a7c655ba00/public"
                                        alt="MSI 微星 GAMING X SLIM GeForce RTX 4070 Ti SUPER 16G OC 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/216993/MSI-微星-GAMING-X-SLIM-GeForce-RTX-4070-Ti-SUPER-16G-OC-顯示卡"
                                    title="MSI 微星 GAMING X SLIM GeForce RTX 4070 Ti SUPER 16G OC 顯示卡">
                                    <h2 class="svelte-1f32ki5">MSI 微星 GAMING X SLIM GeForce RTX 4070 Ti SUPER 16G OC 顯示卡
                                    </h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$7,350</p>

                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="product svelte-1f32ki5">
                            <a class="product-image svelte-1f32ki5"
                                href="/products/217061/ASUS-華碩-TUF-GAMING-GeForce-RTX-4080-Super-16G-顯示卡"
                                title="ASUS 華碩 TUF GAMING GeForce RTX 4080 Super 16G 顯示卡">
                                <picture class="svelte-1bxpv5r">
                                    <source
                                        srcset="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/7791d969-88df-4a55-4c8b-c4f1b3877c00/320w 320w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/7791d969-88df-4a55-4c8b-c4f1b3877c00/640w 640w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/7791d969-88df-4a55-4c8b-c4f1b3877c00/960w 960w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/7791d969-88df-4a55-4c8b-c4f1b3877c00/1280w 1280w, https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/7791d969-88df-4a55-4c8b-c4f1b3877c00/1600w 1600w"
                                        sizes="min(100vw, 320px)" class="svelte-1bxpv5r"> <img
                                        src="https://pegasus.hk/cdn-cgi/imagedelivery/gTpMHUmncPYPe7GoYL67Ag/7791d969-88df-4a55-4c8b-c4f1b3877c00/public"
                                        alt="ASUS 華碩 TUF GAMING GeForce RTX 4080 Super 16G 顯示卡" loading="lazy"
                                        decoding="async" class="svelte-1bxpv5r">
                                </picture>
                            </a>
                            <div class="info svelte-1f32ki5">
                                <div class="tags svelte-1f32ki5">
                                    <p class="svelte-1nr89u9     type5">免費送貨</p>
                                </div> <a class="name svelte-1f32ki5"
                                    href="/products/217061/ASUS-華碩-TUF-GAMING-GeForce-RTX-4080-Super-16G-顯示卡"
                                    title="ASUS 華碩 TUF GAMING GeForce RTX 4080 Super 16G 顯示卡">
                                    <h2 class="svelte-1f32ki5">ASUS 華碩 TUF GAMING GeForce RTX 4080 Super 16G 顯示卡</h2>
                                </a>
                                <div class="price svelte-1f32ki5">
                                    <p class="svelte-1f32ki5">HK$9,799</p>

                                </div>

                            </div>
                        </div>
        </div>
        <div class="pagination svelte-chuzvy"><a href="https://shop.pegasus.hk/categories/CPU/AMD?page=0"
                class="page-item item-control svelte-chuzvy disabled"
                data-sveltekit-noscroll="false"><!-- HTML_TAG_START --><svg width="43" height="42" viewBox="0 0 43 42"
                    fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
                </td>



        </div>
    </div>
    </section>
</div>
</main>

</tr>
</table>
</div>
</div>
</div>





</script>
</div>
<div class="pagination svelte-chuzvy"><a href="https://shop.pegasus.hk/categories/GPU/Quadro?page=0"
    class="page-item item-control svelte-chuzvy disabled"
    data-sveltekit-noscroll="false"><!-- HTML_TAG_START --><svg width="43" height="42" viewBox="0 0 43 42"
        fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
</body>

</html>




















{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
{% endblock %}