{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <style>
    .dropdown-content {
        display: none;
    }
    .dropdown .dropbtn {
    width: 220px;  /* 設定按鈕寬度 */
    height: 50px;  /* 設定按鈕高度 */
    border: none;  /* 移除按鈕邊框 */
    background: transparent;  /* 設定按鈕背景為透明 */
    text-align: left;  /* 文字靠左對齊 */
}
    </style>
    <div class="col-lg-3">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <div class="dropdown">
                            <button class="dropbtn">中央處理器</button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="{{ url_for('intel') }}">{{ _('Intel') }}</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('Amd') }}">AMD</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">電腦散熱</button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/cooling/air-coolers">風冷散熱器 (塔散)</a>
                                </li>
                                <li>
                                    <a href="/cooling/water-coolers">水冷散熱器</a>
                                </li>
                                <li>
                                    <a href="/cooling/thermal-paste">散熱膏</a>
                                </li>
                                <li>
                                    <a href="/cooling/thermal-pad">散熱貼</a>
                                </li>
                                <li>
                                    <a href="/cooling/case-fans">機箱風扇</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">顯示卡</button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="{{ url_for('geforce_cards') }}">GeForce 顯示卡</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('amd_cards') }}">AMD 顯示卡</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('intel_2_graphics') }}">Intel 顯示卡</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('quadro_cards') }}">Quadro 顯示卡</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">RAM</button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/ram/ddr5">DDR5</a>
                                </li>
                                <li>
                                    <a href="/ram/ddr4">DDR4</a>
                                </li>
                                <li>
                                    <a href="/ram/sodimm">SODIMM</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">儲存裝置</button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/storage/ssd">SSD</a>
                                </li>
                                <li>
                                    <a href="/storage/hdd">HDD</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">機箱</button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/cases/atx">ATX 機箱</a>
                                </li>
                                <li>
                                    <a href="/cases/matx">MATX 機箱</a>
                                </li>
                                <li>
                                    <a href="/cases/eatx">EATX 機箱</a>
                                </li>
                                <li>
                                    <a href="/cases/itx">ITX 機箱</a>
                                </li>
                                <li>
                                    <a href="/cases/accessories">機箱配件</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                主機板
                            </button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/motherboards/atx">ATX 主機板</a>
                                </li>
                                <li>
                                    <a href="/motherboards/matx">MATX 主機板</a>
                                </li>
                                <li>
                                    <a href="/motherboards/eatx">EATX 主機板</a>
                                </li>
                                <li>
                                    <a href="/motherboards/itx">ITX 主機板</a>
                                </li>
                                <li>
                                    <a href="/motherboards/pcie-cards">PCIE 擴展卡</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                顯示卡配件
                            </button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/graphics-card-accessories/brackets">顯示卡支架</a>
                                </li>
                                <li>
                                    <a href="/graphics-card-accessories/riser-cables">延長線 Riser Cable</a>
                                </li>
                                <li>
                                    <a href="/graphics-card-accessories/vertical-brackets">顯示卡直立支架</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                電源供應器
                            </button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/power-supplies/600w-or-less">600W 或以下</a>
                                </li>
                                <li>
                                    <a href="/power-supplies/650w-to-800w">650W-800W</a>
                                </li>
                                <li>
                                    <a href="/power-supplies/850w-to-1000w">850W-1000W</a>
                                </li>
                                <li>
                                    <a href="/power-supplies/1050w-to-1200w">1050W-1200W</a>
                                </li>
                                <li>
                                    <a href="/power-supplies/1250w-or-more">1250W 或以上</a>
                                </li>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                軟件
                            </button>
                            <div class="dropdown-content">
                                <li>
                                    <a href="/software/operating-systems">作業系統</a>
                                </li>
                                <li>
                                    <a href="/software/applications">應用程式</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
        </div>
    </div>
    <div class="col-lg-9">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active">
                </li>
                <li data-target="#myCarousel" data-slide-to="1">
                </li>
                <li data-target="#myCarousel" data-slide-to="2">
                </li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ url_for('static', filename='img/1600w.avif') }}"
                         alt="Image 1">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='img/1600w (1).avif') }}"
                         alt="Image 2">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='img/1600w (2).avif') }}"
                         alt="Image 3">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="categories-main svelte-1t16q48">
            <div class="categories-list svelte-1t16q48">
                <table>
                    <tr>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/CPU"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M103,90.3c0-2.1,1.5-3.9,3.5-4.4c0.5-0.1,0.9-0.6,0.9-1.1V22c0-2.5-2-4.5-4.5-4.5H41.2c-0.9,0-1.8,0.4-2.4,1
                                        L18.5,38.8c-0.6,0.6-1,1.5-1,2.4v43.7c0,0.5,0.4,1,0.9,1.1c2,0.4,3.5,2.2,3.5,4.4c0,2.1-1.5,3.9-3.5,4.4c-0.5,0.1-0.9,0.6-0.9,1.1
                                        v7.2c0,2.5,2,4.5,4.5,4.5h81c2.5,0,4.5-2,4.5-4.5v-7.2c0-0.5-0.4-1-0.9-1.1C104.6,94.2,103,92.4,103,90.3z M89.2,94.8H73.9v4.8
                                        H51.1v-4.8H35.8c-3.1,0-5.6-2.5-5.6-5.6V35.8c0-3.1,2.5-5.6,5.6-5.6h53.5c3.1,0,5.6,2.5,5.6,5.6v53.5
                                        C94.9,92.2,92.3,94.8,89.2,94.8z">
                                        </path>
                                        <path class="st0" d="M22,17.5c-2.5,0-4.5,2-4.5,4.5v7.1c0,1,1.2,1.5,1.9,0.8l10.4-10.4c0.7-0.7,0.2-1.9-0.8-1.9h-7V17.5z">
                                        </path>
                                        <path class="st0" d="M62.7,53h-2v9h2c1.3,0,2.1-0.6,2.1-2.5v-4C64.7,53.5,64,53,62.7,53z">
                                        </path>
                                        <path class="st0" d="M86.2,35H38.8c-2.1,0-3.7,1.7-3.7,3.7v47.5c0,2.1,1.7,3.7,3.7,3.7h47.5c2.1,0,3.7-1.7,3.7-3.7V38.8
                                        C90,36.7,88.3,35,86.2,35z M53.1,57.7h-4.4v-3.1c0-2.1-0.9-2.9-2.4-2.9s-2.4,0.8-2.4,2.9v15.8c0,2.1,0.9,2.8,2.4,2.8
                                        s2.4-0.8,2.4-2.8v-4.2h4.4V70c0,4.7-2.3,7.4-6.9,7.4c-4.5,0-6.9-2.7-6.9-7.4V54.9c0-4.7,2.3-7.4,6.9-7.4c4.5,0,6.9,2.7,6.9,7.4
                                        V57.7z M69.6,58.9c0,4.7-2.3,7.2-6.9,7.2h-2.2v11h-4.6V47.9h6.8c4.6,0,6.9,2.6,6.9,7.2V58.9z M85.4,70.1c0,4.7-2.3,7.4-6.9,7.4
                                        s-6.9-2.7-6.9-7.4V47.9h4.6v22.6c0,2.1,0.9,2.8,2.4,2.8s2.4-0.8,2.4-2.8V47.9h4.4V70.1z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        中央處理器
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="{{ url_for('intel') }}">{{ _('Intel') }}</a><a href="{{ url_for('Amd') }}">AMD</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/cooling"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.8.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M102.3,24.9c-0.8-1.3-1.8-2.2-3.3-2.7c-0.3-0.1-0.7-0.1-1-0.3H26.8c-0.5,0.2-1,0.3-1.5,0.5
                                        c-1.3,0.6-2.3,1.6-2.9,2.9c-0.2,0.5-0.3,1-0.5,1.5v71.3c0.2,0.4,0.2,0.9,0.4,1.4c0.7,1.5,1.8,2.6,3.3,3.2c0.4,0.1,0.7,0.1,1.1,0.3
                                        c0.4-0.1,0.8,0,1.2,0c23,0,46,0,69,0c0.4,0,0.7-0.1,1.1,0c0.7-0.2,1.4-0.4,2-0.7c1.5-0.8,2.4-2.1,2.8-3.7c0-0.1,0-0.3,0.2-0.4V26.9
                                        C102.8,26.3,102.7,25.6,102.3,24.9L102.3,24.9z M99.4,67.6c-0.3,1.9-0.7,3.8-1.3,5.7c-0.7,2.4-1.7,4.7-2.9,6.9
                                        c-1,1.9-2.2,3.7-3.6,5.3c-1.2,1.5-2.5,2.9-4,4.3c-1.9,1.8-4.1,3.4-6.4,4.7c-2.2,1.3-4.6,2.4-7,3.2c-1.6,0.5-3.2,1-4.9,1.3
                                        c-1.1,0.2-2.2,0.4-3.4,0.5c-0.9,0.1-1.8,0.1-2.7,0.2c-0.5,0-1.1,0-1.6,0c-0.4,0-0.7,0-1.1,0c-1.1,0-2.1-0.2-3.2-0.3
                                        c-1.4-0.2-2.7-0.4-4-0.8c-1.8-0.5-3.6-1.1-5.4-1.8c-1.5-0.6-2.9-1.3-4.3-2.1c-1.6-0.9-3.1-2-4.5-3.1c-1.2-1-2.3-1.9-3.4-3
                                        c-2.2-2.3-4.1-4.7-5.6-7.5c-1.3-2.2-2.3-4.6-3.1-7c-0.6-1.7-1-3.5-1.3-5.2c-0.2-1.2-0.3-2.3-0.4-3.5c-0.1-0.6,0-1.2-0.1-1.7
                                        c0-0.1,0-0.3,0.1-0.4v-1.5c-0.2-0.3,0-0.6,0-0.9c0-0.9,0.1-1.8,0.2-2.7c0.2-1.8,0.6-3.7,1.1-5.5c0.7-2.6,1.7-5.2,3-7.6
                                        c1-2,2.2-3.8,3.6-5.6c1-1.3,2.1-2.6,3.4-3.8c2.1-2,4.4-3.8,6.8-5.3c2.6-1.6,5.3-2.8,8.2-3.7c1.6-0.5,3.3-0.9,5-1.2
                                        c1.2-0.2,2.4-0.3,3.6-0.4c0.4,0,0.8,0,1.1-0.1h2.3c1.3,0.1,2.6,0.2,3.9,0.3c1.7,0.2,3.4,0.6,5.1,1.1c1.8,0.5,3.6,1.1,5.2,1.9
                                        c2,0.9,3.9,2,5.7,3.3c1.8,1.3,3.5,2.7,5.1,4.3c2,2,3.8,4.2,5.3,6.6c1.4,2.2,2.6,4.6,3.4,7.1c0.7,2,1.2,4,1.6,6
                                        c0.2,0.9,0.3,1.8,0.4,2.7c0.1,1,0.1,2,0.2,2.9v2.2C99.6,64.9,99.6,66.3,99.4,67.6L99.4,67.6z">
                                        </path>
                                        <path class="st0" d="M92.9,67.8c-0.3-0.2-0.6-0.2-1-0.1c-0.9,0.3-1.8,0.6-2.7,0.9c-1.4,0.4-2.8,0.6-4.2,0.6c-0.4,0-0.9,0-1.3,0
                                        c-0.8,0-1.5-0.1-2.3-0.2c-0.7-0.1-1.5-0.3-2.2-0.4c-1-0.2-1.9-0.5-2.9-0.8c-0.1-0.1-0.2-0.1-0.1-0.2c0.1-0.3,0.2-0.5,0.3-0.8
                                        c0.4-1.3,0.6-2.6,0.5-4c0-0.2,0-0.2,0.2-0.2c0.6-0.1,1.2-0.1,1.8-0.1c1.2-0.1,2.4-0.3,3.5-0.6c1.5-0.4,2.9-0.9,4.3-1.6
                                        c1.6-0.8,3.2-1.7,4.7-2.7c1-0.7,1.4-1.6,1.2-2.6c-0.3-1-0.6-2-0.9-3c-0.8-2.3-2-4.5-3.3-6.6c-0.7-1-1.4-1.9-2.1-2.8
                                        c-0.4-0.4-1.1-0.4-1.4,0.4c-0.2,0.5-0.3,1-0.5,1.5c-0.9,2.6-2.4,4.9-4.3,6.9c-0.5,0.6-1.1,1-1.7,1.5c-1,0.9-2.2,1.7-3.3,2.4
                                        c-0.2,0.1-0.3,0.1-0.4-0.1c-0.3-0.4-0.6-0.8-0.9-1.3c-0.7-0.9-1.4-1.7-2.3-2.3c-0.1-0.1-0.1-0.1,0-0.2c0.3-0.3,0.5-0.6,0.7-0.9
                                        c1.2-1.7,2.2-3.5,2.9-5.5c0.6-1.6,1-3.3,1.3-5c0.2-1.2,0.3-2.4,0.3-3.5c0-1-0.5-1.7-1.4-2.1c-1.6-0.7-3.3-1.3-4.9-1.7
                                        c-1.8-0.5-3.6-0.8-5.5-0.9c-1-0.1-2.1-0.1-3.1-0.1c-0.5,0-0.9,0.6-0.6,1c0.1,0.1,0.2,0.3,0.3,0.4c1,1.5,1.9,3.2,2.5,4.9
                                        c0.7,2,1,4,1.1,6.2c0,0.5,0,1.1,0,1.6c0,0.9-0.1,1.7-0.1,2.5c0,0.2-0.1,0.2-0.2,0.2c-0.6-0.1-1.2-0.1-1.8-0.1c-1-0.1-2,0.1-3,0.3
                                        c-0.2,0-0.2,0-0.2-0.2c-0.4-1.6-0.9-3.2-1.7-4.6c-1.2-2.4-2.7-4.5-4.6-6.5c-0.6-0.6-1.2-1.1-1.7-1.7c-0.8-0.9-2-1.1-3.1-0.5
                                        c-1.1,0.6-2.2,1.2-3.2,1.9c-1.9,1.3-3.6,2.8-5.2,4.5c-0.7,0.8-1.4,1.6-2,2.4c-0.5,0.6-0.3,1.1,0.4,1.3c0.3,0.1,0.7,0.1,1,0.1
                                        c0.9,0.1,1.8,0.2,2.6,0.4c1.8,0.4,3.6,1.1,5.2,2c2,1.1,3.8,2.5,5.4,4.1c0.1,0.1,0.1,0.2,0,0.3c-1.1,1-2,2.1-2.7,3.4
                                        c-0.3,0.6-0.3,0.6-1,0.3c-0.1-0.1-0.2-0.1-0.4-0.1c-1.4-0.6-2.8-0.9-4.3-1.2c-1.2-0.2-2.4-0.3-3.7-0.4c-0.7,0-1.4,0-2.1,0
                                        c-0.3,0-0.6,0.1-1,0.1c-1.1,0-2.2,0.2-3.3,0.4c-0.8,0.1-1.3,0.5-1.7,1.2c-0.2,0.4-0.3,0.9-0.4,1.4c-0.1,0.8-0.3,1.6-0.3,2.4
                                        c-0.1,0.7-0.1,1.4-0.1,2c-0.1,0.6-0.1,1.2,0,1.7c0,0.7,0,1.3,0.1,2c0.1,0.7,0.2,1.3,0.3,2c0.2,1,0.4,2,0.6,2.9
                                        c0.2,0.7,0.9,0.8,1.4,0.3c1-1,2-2,3.1-2.8c1.8-1.3,3.7-2.3,5.8-3c1.5-0.5,3-0.8,4.5-1c0.5-0.1,0.6-0.1,0.6,0.5
                                        c0,0.1,0.1,0.3,0.1,0.4c0.1,1.2,0.5,2.4,0.9,3.5c0.1,0.3,0.4,0.6,0.3,0.8c-0.1,0.2-0.5,0.3-0.7,0.5c-1.8,1-3.3,2.2-4.8,3.6
                                        c-0.8,0.8-1.5,1.6-2.2,2.5c-1.1,1.4-2.1,3-3,4.6c-0.2,0.5-0.3,1-0.1,1.5c0.3,0.8,0.9,1.4,1.4,2c1.4,1.4,2.8,2.8,4.4,3.9
                                        c1.8,1.3,3.7,2.4,5.7,3.3c0.5,0.2,0.9,0,1-0.5c0.2-0.5-0.1-0.9-0.1-1.4c-0.1-0.8-0.1-1.6-0.2-2.4c0-0.4,0.1-0.7,0.1-1.1
                                        c0-0.8,0.1-1.5,0.2-2.3c0.2-1.2,0.5-2.4,1-3.6c0.6-1.6,1.3-3,2.2-4.5c0.1-0.2,0.2-0.3,0.5-0.1c1.4,0.9,2.8,1.5,4.4,1.9
                                        c0.1,0,0.3,0.1,0.2,0.3c-0.1,0.3-0.1,0.7-0.2,1c-0.1,0.7-0.2,1.5-0.2,2.2c0,0.6,0,1.1,0,1.7c0,0.4,0,0.8,0,1.2
                                        c0,0.5,0.1,1.1,0.2,1.6c0.2,1,0.4,2,0.6,3c0.4,1.4,0.9,2.9,1.5,4.2c0.4,0.8,1.1,1.3,2,1.3c0.8,0,1.5-0.1,2.3-0.1
                                        c0.9-0.1,1.9-0.2,2.8-0.4c1.4-0.3,2.9-0.6,4.3-1.1c1.4-0.5,2.8-1.1,4.2-1.8c0.2-0.1,0.4-0.2,0.4-0.5c0.1-0.5-0.1-0.8-0.6-1
                                        c-2.3-1.3-4.2-2.9-5.9-5c-1.6-2-2.7-4.3-3.7-6.7c-0.2-0.4,0-0.4,0.3-0.5c1.3-0.5,2.6-1.2,3.7-2.1c0.2-0.1,0.3-0.4,0.5-0.4
                                        c0.2,0,0.3,0.3,0.5,0.5c0.9,0.9,1.8,1.8,2.8,2.6c1.1,0.9,2.3,1.7,3.6,2.4c1.8,1,3.7,1.8,5.7,2.4c0.6,0.2,1.3,0.4,1.9,0.1
                                        c0.6-0.2,1-0.7,1.4-1.2c1.6-2.1,2.8-4.4,3.8-6.8c0.7-1.7,1.2-3.5,1.6-5.3C93.1,68.3,93.2,68,92.9,67.8z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        電腦散熱
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/cooling/aircooler" class="svelte-1t16q48">風冷散熱器 (塔散)</a><a href="/categories/cooling/aiocooler" class="svelte-1t16q48">水冷散熱器 (AIO)</a><a href="/categories/cooling/thermalpaste" class="svelte-1t16q48">散熱膏</a><a href="/categories/cooling/thermalpad" class="svelte-1t16q48">散熱貼</a><a href="/categories/cooling/casefan" class="svelte-1t16q48">機箱風扇</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/GPU"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M114.1,40.9l-7.6-7.6c-0.6-0.6-1.4-0.9-2.2-0.9H76.8c-1,0-1.9,0.5-2.5,1.3H58c-0.6-0.8-1.5-1.3-2.5-1.3H19.2
                                        v-7.9c0-1.1-0.9-2-2-2c-1.1,0-2,0.9-2,2v18.3h-3.2c-1.1,0-2.1,0.9-2.1,2.1v9.3c0,1.1,0.9,2.1,2.1,2.1h3.2v5.8h-3.2
                                        C11,62.1,10,63,10,64.2v9.3c0,1.1,0.9,2.1,2.1,2.1h3.2v24.9c0,1.1,0.9,2,2,2c1.1,0,2-0.9,2-2V86.1h4.2v3.7c0,2.4,2,4.4,4.4,4.4h5.6
                                        c2.4,0,4.4-2,4.4-4.4v-3.7h4.3v3.7c0,2.4,2,4.4,4.4,4.4H63c2.4,0,4.4-2,4.4-4.4v-5h6.5c0.6,0.8,1.5,1.3,2.5,1.3h27.9
                                        c0.8,0,1.6-0.3,2.2-0.9l7.6-7.6c0.6-0.6,0.9-1.4,0.9-2.2V43.1C114.9,42.3,114.6,41.5,114.1,40.9z M63.2,40.4
                                        c-1.2,0-2.3-0.7-2.8-1.8l-0.9-2h13.4l-0.9,2c-0.5,1.1-1.6,1.8-2.8,1.8H63.2z M71.9,80.8l0.5,1H59.9l0.5-1c0.5-1.1,1.6-1.8,2.8-1.8
                                        h6C70.3,79,71.4,79.7,71.9,80.8z M43.5,41.6c9.8,0,17.7,7.9,17.7,17.7S53.2,77,43.5,77s-17.7-7.9-17.7-17.7S33.8,41.6,43.5,41.6z
                                        M33.7,89.8c0,0.2-0.2,0.4-0.4,0.4h-5.6c-0.2,0-0.4-0.2-0.4-0.4v-3.7h6.3v3.7H33.7z M63.2,89.8c0,0.2-0.2,0.4-0.4,0.4H46.4
                                        c-0.2,0-0.4-0.2-0.4-0.4v-3.7h9.9c1,0,1.9-0.5,2.5-1.3h4.9V89.8z M88.6,76.9c-9.7,0-17.7-7.9-17.7-17.7s8-17.6,17.7-17.6
                                        c9.8,0,17.7,7.9,17.7,17.7S98.4,76.9,88.6,76.9z">
                                        </path>
                                        <path class="st0" d="M42.2,62.6c0.3,0.1,0.6,0.1,0.9,0.1v8.2c0,0.2,0,0.5,0.1,0.7c0.4,1,1.5,1.5,2.4,1.1c2.6-1.1,4.4-3.6,4.4-6.5
                                        c0-2.5-1.4-4.9-3.6-6.1c0.1-0.3,0.1-0.6,0.1-0.9h8.2c0.2,0,0.5,0,0.7-0.1c1-0.4,1.5-1.5,1.1-2.4c-0.6-1.5-1.7-2.7-3.1-3.5
                                        c-3.4-1.9-7.6-0.6-9.4,2.7c-0.3-0.1-0.6-0.1-0.9-0.1v-8.2c0-0.2,0-0.5-0.1-0.7c-0.4-1-1.5-1.5-2.4-1.1c-1.5,0.6-2.7,1.7-3.5,3.1
                                        c-1.9,3.4-0.6,7.6,2.7,9.4c-0.1,0.3-0.1,0.6-0.1,0.9h-8.2c-0.2,0-0.5,0-0.7,0.1c-1,0.4-1.5,1.5-1.1,2.4c0.6,1.5,1.7,2.7,3.1,3.5
                                        C36,67.2,40.2,65.9,42.2,62.6z">
                                        </path>
                                        <path class="st0" d="M98.9,53.1c-3.4-1.9-7.6-0.6-9.4,2.7c-0.3-0.1-0.6-0.1-0.9-0.1v-8.2c0-0.2,0-0.5-0.1-0.7
                                        c-0.4-1-1.5-1.5-2.4-1.1c-1.5,0.6-2.7,1.7-3.5,3.1c-1.9,3.4-0.6,7.6,2.7,9.4c-0.1,0.3-0.1,0.6-0.1,0.9H77c-0.2,0-0.5,0-0.7,0.1
                                        c-1,0.4-1.5,1.5-1.1,2.4c0.6,1.5,1.7,2.7,3.1,3.5c3.4,1.9,7.6,0.6,9.4-2.7c0.3,0.1,0.6,0.1,0.9,0.1v8.2c0,0.2,0,0.5,0.1,0.7
                                        c0.4,1,1.5,1.5,2.4,1.1c2.6-1.1,4.4-3.6,4.4-6.5c0-2.5-1.4-4.9-3.6-6.1C92,59.6,92,59.3,92,59h8.2c0.2,0,0.5,0,0.7-0.1
                                        c1-0.4,1.5-1.5,1.1-2.4C101.4,55.2,100.4,53.9,98.9,53.1z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p >
                                        顯示卡
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="{{ url_for('geforce_cards') }}">GeForce 顯示卡</a><a href="{{ url_for('amd_cards') }}">AMD 顯示卡</a><a href="{{ url_for('intel_2_graphics') }}">Intel 顯示卡</a><a href="{{ url_for('quadro_cards') }}">Quadro 顯示卡</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/memory"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M96.5,44.4v-8.7c0-2.2-1.8-3.9-3.9-3.9H16.2c-2.2,0-3.9,1.8-3.9,3.9v11.6c0,1.1,0.9,2,2,2h0.4
                                        c2.2,0,4,1.7,4.1,3.8c0.1,2.2-1.7,4-3.9,4h-0.6c-1.1,0-2,0.9-2,2v12.5c0,2.2,1.8,3.9,3.9,3.9H23V52.2c0-4.3,3.5-7.8,7.8-7.8H96.5z">
                                        </path>
                                        <path class="st0" d="M109.9,67h0.4c1.1,0,2-0.9,2-2V53.4c0-2.2-1.8-3.9-3.9-3.9H32.1c-2.2,0-3.9,1.8-3.9,3.9V65c0,1.1,0.9,2,2,2
                                        h0.4c2.2,0,4,1.7,4.1,3.8c0.1,2.2-1.7,4-3.9,4h-0.6c-1.1,0-2,0.9-2,2v12.5c0,2.2,1.8,3.9,3.9,3.9h6.3v-9.6c0-1.1,0.8-2,1.9-2.1
                                        c1.1-0.1,2.1,0.8,2.1,2v9.7h6.9c1.1,0,2-0.9,2-2v-5.1h5.2v5.1c0,1.1,0.9,2,2,2h7.3v-9.7c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2v9.7h4.5
                                        v-9.6c0-1.1,0.8-2,1.9-2.1c1.1-0.1,2.1,0.8,2.1,2v9.7h4.5v-9.6c0-1.1,0.8-2,1.9-2.1c1.1-0.1,2.1,0.8,2.1,2v9.7h4.5v-9.6
                                        c0-1.1,0.8-2,1.9-2.1c1.1-0.1,2.1,0.8,2.1,2v9.7h4.5v-9.6c0-1.1,0.8-2,1.9-2.1c1.1-0.1,2.1,0.8,2.1,2v9.7h5c2.2,0,3.9-1.8,3.9-3.9
                                        V76.8c0-1.1-0.9-2-2-2h-0.6c-2.2,0-4-1.8-3.9-4C105.8,68.6,107.7,67,109.9,67z M97.6,75.1c0,1.4-1.2,2.6-2.6,2.6H45.4
                                        c-1.5,0-2.6-1.2-2.6-2.6V58.3c0-1.4,1.2-2.6,2.6-2.6H95c1.5,0,2.6,1.2,2.6,2.6V75.1z">
                                        </path>
                                        <path class="st0" d="M92.6,60.8h-7.7v11.7h7.7V60.8z">
                                        </path>
                                        <path class="st0" d="M80.2,60.8h-7.7v11.7h7.7V60.8z">
                                        </path>
                                        <path class="st0" d="M67.9,60.8h-7.7v11.7h7.7V60.8z">
                                        </path>
                                        <path class="st0" d="M55.5,60.8h-7.7v11.7h7.7V60.8z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        記憶體 (RAM)
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/memory/DDR5" class="svelte-1t16q48">DDR5</a><a href="/categories/memory/DDR4" class="svelte-1t16q48">DDR4</a><a href="/categories/memory/SODIMM" class="svelte-1t16q48">SODIMM</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/storage"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M77.4,52.8h-2.2v19.5h2.2c1.4,0,2.2-0.7,2.2-2.6V55.3C79.6,53.4,78.8,52.8,77.4,52.8z">
                                        </path>
                                        <path class="st0" d="M86.4,39.6H38.7c-1.6,0-3,1.3-3,3v39.6c0,1.6,1.3,3,3,3h47.8c1.6,0,3-1.3,3-3V42.6C89.4,41,88,39.6,86.4,39.6z
                                        M47.5,76.4c-4.2,0-6.3-2.5-6.3-6.9v-1.6h4v2c0,1.9,0.9,2.6,2.2,2.6c1.4,0,2.2-0.7,2.2-2.7c0-2.3-0.9-3.7-3.7-6.2
                                        c-3.6-3.2-4.7-5.4-4.7-8.5c0-4.3,2.2-6.8,6.4-6.8s6.2,2.5,6.2,6.9v1.1h-4v-1.4c0-1.9-0.8-2.7-2.1-2.7c-1.4,0-2.1,0.7-2.1,2.6
                                        c0,2,0.9,3.4,3.7,5.9C53,63.9,54,66,54,69.4C53.9,73.9,51.7,76.4,47.5,76.4z M62,76.4c-4.2,0-6.3-2.5-6.3-6.9v-1.6h4v2
                                        c0,1.9,0.9,2.6,2.2,2.6c1.4,0,2.2-0.7,2.2-2.7c0-2.3-0.9-3.7-3.7-6.2c-3.6-3.2-4.7-5.4-4.7-8.5c0-4.3,2.2-6.8,6.4-6.8
                                        s6.2,2.5,6.2,6.9v1.1h-4v-1.4c0-1.9-0.8-2.7-2.1-2.7c-1.4,0-2.1,0.7-2.1,2.6c0,2,0.9,3.4,3.7,5.9c3.6,3.2,4.7,5.3,4.7,8.7
                                        C68.4,73.9,66.2,76.4,62,76.4z M83.9,69.3c0,4.4-2.1,6.7-6.4,6.7h-6.5V48.8h6.5c4.3,0,6.4,2.4,6.4,6.7V69.3z">
                                        </path>
                                        <path class="st0" d="M21.7,66H15v6.6h6.7V66z">
                                        </path>
                                        <path class="st0" d="M21.7,56.4H15V63h6.7V56.4z">
                                        </path>
                                        <path class="st0" d="M21.7,75.8H15v6.1h6.7V75.8z">
                                        </path>
                                        <path class="st0" d="M21.7,43.1H15v6.1h6.7V43.1z">
                                        </path>
                                        <path class="st0" d="M25.7,90.2c-1.2,0-2.1,0.9-2.1,2.1c0,1.2,0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1C27.8,91,26.9,90.2,25.7,90.2z">
                                        </path>
                                        <path class="st0" d="M25.7,34.8c1.2,0,2.1-0.9,2.1-2.1s-0.9-2.1-2.1-2.1s-2.1,0.9-2.1,2.1S24.5,34.8,25.7,34.8z">
                                        </path>
                                        <path class="st0" d="M99.2,90.2c-1.2,0-2.1,0.9-2.1,2.1c0,1.2,0.9,2.1,2.1,2.1c1.2,0,2.1-0.9,2.1-2.1
                                        C101.3,91,100.4,90.2,99.2,90.2z">
                                        </path>
                                        <path class="st0" d="M99.2,34.8c1.2,0,2.1-0.9,2.1-2.1s-0.9-2.1-2.1-2.1c-1.2,0-2.1,0.9-2.1,2.1S98,34.8,99.2,34.8z">
                                        </path>
                                        <path class="st0" d="M106.9,27.3h-3.1v5.4c0,2.5-2.1,4.6-4.6,4.6s-4.6-2.1-4.6-4.6v-5.4H30.4v5.4c0,2.5-2.1,4.6-4.6,4.6
                                        s-4.6-2.1-4.6-4.6v-5.4h-3.1c-1.7,0-3.1,1.4-3.1,3.1v9.4h9.6v45.3H15v9.4c0,1.7,1.4,3.1,3.1,3.1h3.1v-5.4c0-2.5,2.1-4.6,4.6-4.6
                                        s4.6,2.1,4.6,4.6v5.4h64.3v-5.4c0-2.5,2.1-4.6,4.6-4.6s4.6,2.1,4.6,4.6v5.4h3.1c1.7,0,3.1-1.4,3.1-3.1V30.3
                                        C109.9,28.6,108.6,27.3,106.9,27.3z M99.2,50.5c1.3-0.1,2.3,0.9,2.3,2.2c0,1.3-1,2.3-2.3,2.3h-6.1v5.1h6.1c1.3,0,2.3,1,2.3,2.3
                                        c0,1.3-1,2.3-2.3,2.3h-6.1v5.1h6.1c1.3,0,2.3,1,2.3,2.3c0,1.3-1,2.3-2.3,2.3h-6.1v5.1h6.1c1.3,0,2.3,1,2.3,2.3s-1,2.3-2.3,2.3h-6.1
                                        v1.8c0,1.6-1.3,3-3,3H35c-1.6,0-3-1.3-3-3v-47c0-1.6,1.3-3,3-3h55.2c1.6,0,3,1.3,3,3v1.9h6.1c1.3,0,2.3,1,2.3,2.3s-1,2.3-2.3,2.3
                                        h-6.1v5.1H99.2z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        儲存裝置
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/storage/SSD" class="svelte-1t16q48">固態硬碟 (SSD)</a><a href="/categories/storage/HDD" class="svelte-1t16q48">硬碟 (HDD)</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/case"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M60,63.2H34.4c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3H60c1.8,0,3.3-1.5,3.3-3.3
                                        C63.3,64.6,61.8,63.2,60,63.2z">
                                        </path>
                                        <path class="st0" d="M61.2,36.8h-2.9C58.1,35.2,56.7,34,55,34H39.5c-1.9,0-3.4,1.5-3.4,3.4v-0.6h-2.9c-1.2,0-2.1,0.9-2.1,2.1v12.4
                                        c0,1.2,0.9,2.1,2.1,2.1h2.9V53c0,1.9,1.5,3.4,3.4,3.4h15.4c1.7,0,3.2-1.3,3.4-2.9h2.9c1.1,0,2.1-0.9,2.1-2.1V39
                                        C63.3,37.8,62.4,36.8,61.2,36.8z M55.2,53c0,0.1-0.1,0.2-0.2,0.2H39.5c-0.1,0-0.2-0.1-0.2-0.2V37.5c0-0.1,0.1-0.2,0.2-0.2H55
                                        c0.1,0,0.2,0.1,0.2,0.2V53z">
                                        </path>
                                        <path class="st0" d="M60,74.2H34.4c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3H60c1.8,0,3.3-1.5,3.3-3.3
                                        C63.3,75.7,61.8,74.2,60,74.2z">
                                        </path>
                                        <path class="st0" d="M77.2,39.7c1.5,0,2.8-1.3,2.8-2.8c0-1.6-1.3-2.8-2.8-2.8s-2.8,1.3-2.8,2.8S75.7,39.7,77.2,39.7z">
                                        </path>
                                        <path class="st0" d="M77.2,49.5c1.5,0,2.8-1.3,2.8-2.8S78.7,44,77.2,44s-2.8,1.3-2.8,2.8S75.7,49.5,77.2,49.5z">
                                        </path>
                                        <path class="st0" d="M68.4,69.2c1.5,0,2.8-1.3,2.8-2.8s-1.3-2.8-2.8-2.8c-1.6,0-2.8,1.2-2.8,2.8C65.6,67.9,66.9,69.2,68.4,69.2z">
                                        </path>
                                        <path class="st0" d="M68.4,74.7c-1.5,0-2.8,1.3-2.8,2.8s1.3,2.8,2.8,2.8s2.8-1.3,2.8-2.8S69.9,74.7,68.4,74.7z">
                                        </path>
                                        <path class="st0" d="M101.7,17.2H15v8.4l8.7,3.9v67.1v3.3v4.1c0,2.1,1.7,3.7,3.7,3.7H33c1.3,0,2.5-0.7,3.2-1.8l4.8-6h51.2h0.4
                                        l4.8,6c0.7,1.1,1.9,1.8,3.2,1.8h5.6c2.1,0,3.7-1.7,3.7-3.7v-4v-3.3V25.5C110,21,106.3,17.2,101.7,17.2z M74,85.6L74,85.6H28V29
                                        h38.1v23.5L74,60V85.6z M91.7,31.7h-6.2c-0.9,0-1.6,0.7-1.6,1.6v20.6c0,0.9,0.7,1.6,1.6,1.6h6.2v2.7h-6.2c-0.9,0-1.6,0.7-1.6,1.6
                                        v20.6c0,0.9,0.7,1.6,1.6,1.6h6.2v3.3H80.5V58.7l-7.9-7.5V29h19.1V31.7z M90.6,35v17.4h-3.5V35H90.6z M90.6,61.7v17.4h-3.5V61.7
                                        H90.6z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        機箱
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/case/ATX" class="svelte-1t16q48">ATX 機箱</a><a href="/categories/case/MATX" class="svelte-1t16q48">MATX 機箱</a><a href="/categories/case/EATX" class="svelte-1t16q48">EATX 機箱</a><a href="/categories/case/ITX" class="svelte-1t16q48">ITX 機箱</a><a href="/categories/case/accessories" class="svelte-1t16q48">機箱配件</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/motherboard"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M64,49.9h-9.3v9.4H64V49.9z">
                                        </path>
                                        <path class="st0" d="M103.3,23.8H85.2l-5.8-6.3c-0.6-0.7-1.4-1-2.3-1H49c-1.8,0-3.2,1.4-3.2,3.2v4.1h-8.7l-7.7-6.6
                                        c-0.6-0.5-1.3-0.7-2-0.7h-6.7c-1.8,0-3.2,1.4-3.2,3.2v47.2c0,1.8,1.4,3.2,3.2,3.2h3.2v34.3c0,2.3,1.8,4.1,4.1,4.1h75.4
                                        c2.3,0,4.1-1.8,4.1-4.1V27.9C107.4,25.6,105.6,23.8,103.3,23.8z M95.7,41.7c0-1.2,0.9-2.1,2.1-2.1c1.2,0,2.1,0.9,2.1,2.1v25.8
                                        c0,1.2-0.9,2.1-2.1,2.1c-1.2,0-2.1-0.9-2.1-2.1V41.7z M87.4,41.7c0-1.2,0.9-2.1,2.1-2.1s2.1,0.9,2.1,2.1v25.8
                                        c0,1.2-0.9,2.1-2.1,2.1s-2.1-0.9-2.1-2.1V41.7z M93.3,73.9l6.6,6.6v14.2H85.8l-6.6-6.6V73.9H93.3z M79.1,41.7
                                        c0-1.2,0.9-2.1,2.1-2.1c1.2,0,2.1,0.9,2.1,2.1v25.8c0,1.2-0.9,2.1-2.1,2.1c-1.2,0-2.1-0.9-2.1-2.1V41.7z M46.4,52.9
                                        c-1.2,0-2.1-0.9-2.1-2.1s0.9-2.1,2.1-2.1h3.7v-1.3c0-1.2,0.9-2.1,2.1-2.1h1.3v-3.7c0-1.2,0.9-2.1,2.1-2.1c1.2,0,2.1,0.9,2.1,2.1
                                        v3.7H61v-3.7c0-1.2,0.9-2.1,2.1-2.1c1.2,0,2.1,0.9,2.1,2.1v3.7h1.2c1.2,0,2.1,0.9,2.1,2.1v1.3h3.7c1.2,0,2.1,0.9,2.1,2.1
                                        s-0.9,2.1-2.1,2.1h-3.7v3.3h3.7c1.2,0,2.1,0.9,2.1,2.1s-0.9,2.1-2.1,2.1h-3.7v1.3c0,1.2-0.9,2.1-2.1,2.1h-1.3v3.7
                                        c0,1.2-0.9,2.1-2.1,2.1c-1.2,0-2.1-0.9-2.1-2.1v-3.7h-3.3v3.7c0,1.2-0.9,2.1-2.1,2.1s-2.1-0.9-2.1-2.1v-3.7h-1.3
                                        c-1.2,0-2.1-0.9-2.1-2.1v-1.3h-3.6c-1.2,0-2.1-0.9-2.1-2.1s0.9-2.1,2.1-2.1h3.7v-3.3H46.4z M66.4,82.3H47.9c-1.2,0-2.1-0.9-2.1-2.1
                                        c0-1.2,0.9-2.1,2.1-2.1h18.5c1.2,0,2.1,0.9,2.1,2.1C68.5,81.3,67.6,82.3,66.4,82.3z M68.5,88.5c0,1.2-0.9,2.1-2.1,2.1H47.9
                                        c-1.2,0-2.1-0.9-2.1-2.1s0.9-2.1,2.1-2.1h18.5C67.6,86.4,68.5,87.3,68.5,88.5z M68.4,71.9c0-1.5,1.3-2.8,2.8-2.8s2.8,1.3,2.8,2.8
                                        s-1.3,2.8-2.8,2.8S68.4,73.4,68.4,71.9z M31.5,103.6c-1.5,0-2.8-1.3-2.8-2.8S30,98,31.5,98s2.8,1.3,2.8,2.8
                                        C34.3,102.4,33,103.6,31.5,103.6z M37.3,49.6l-11,14.1h-2.6V22.9h0.1h2.4l11.1,9.4V49.6z M37.8,73.6v-7.2c0-0.6,0.5-1,1-1H46
                                        c0.6,0,1,0.5,1,1v7.2c0,0.6-0.5,1-1,1h-7.2C38.3,74.7,37.8,74.2,37.8,73.6z M70,103.6H39.9l4.7-8.9h30.1L70,103.6z M71.1,31.1H52.2
                                        v-8.2h23.5l2.5,2.7L71.1,31.1z M90.1,103.6h-11v-5.5h11V103.6z M99.7,103.6c-1.5,0-2.8-1.3-2.8-2.8s1.3-2.8,2.8-2.8
                                        s2.8,1.3,2.8,2.8C102.5,102.4,101.3,103.6,99.7,103.6z M99.7,34.3c-1.5,0-2.8-1.3-2.8-2.8s1.3-2.8,2.8-2.8s2.8,1.3,2.8,2.8
                                        S101.3,34.3,99.7,34.3z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        主機板
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/motherboard/ATX" class="svelte-1t16q48">ATX 主機板</a><a href="/categories/motherboard/MATX" class="svelte-1t16q48">MATX 主機板</a><a href="/categories/motherboard/EATX" class="svelte-1t16q48">EATX 主機板</a><a href="/categories/motherboard/ITX" class="svelte-1t16q48">ITX 主機板</a><a href="/categories/motherboard/PCIe" class="svelte-1t16q48">PCIE 擴展卡</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/GPUaccessories"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M110.8,21.7v-3H106v5.5h-2.6v-6.9H69.2v6.9h-2.4v-6.9H55.2v6.9h-2.6v-4h-3v4h-0.1v2.6l1.6,3.2v3H17.6v55.2h5
                                        v3.2h28.5V92c0,0,0.1,0.4,0.1,1H39.8c-1.4,0-2.6,1.2-2.6,2.6v8.5c0,1.4,1.2,2.6,2.6,2.6h59.1c1.4,0,2.6-1.2,2.6-2.6v-2.8
                                        c7.1-2.1,6-9.3,6-9.3v-3.8V33v-3l1.6-3.2v-1.1h1.7v-3H109v-1H110.8z M39.3,83.2H22.6V52h16.7V83.2z M45.3,83.2h-3v-3.1h3V83.2z
                                        M45.3,77.1h-3v-2.8h3V77.1z M45.3,71.3h-3v-2.8h3V71.3z M45.3,65.5h-3v-2.8h3V65.5z M45.3,59.7h-3v-2.8h3V59.7z M45.3,53.9h-3V52
                                        h3V53.9z M51.1,83.2h-2.8v-3.1h2.8V83.2z M51.1,77.1h-2.8v-2.8h2.8V77.1z M51.1,71.3h-2.8v-2.8h2.8V71.3z M51.1,65.5h-2.8v-2.8h2.8
                                        V65.5z M51.1,59.7h-2.8v-2.8h2.8V59.7z M51.1,53.9h-2.8V52h2.8V53.9z M51.1,47H22.6v-9h28.5V47z M69.9,33c0-0.3,0.2-0.5,0.5-0.5
                                        s0.5,0.2,0.5,0.5v56.8c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5V33z M56.8,104.1H45.3v-8.2h11.6V104.1z M58.2,20.2h5.6v2.2h-5.6
                                        V20.2z M61.5,33v56.8c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5V33c0-0.3,0.2-0.5,0.5-0.5S61.5,32.7,61.5,33z M93.4,104.1H59.3v-8.2
                                        h34.1V104.1z M79.3,89.8V33c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v56.8c0,0.3-0.2,0.5-0.5,0.5S79.3,90,79.3,89.8z M88.7,89.8V33
                                        c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v56.8c0,0.3-0.2,0.5-0.5,0.5S88.7,90,88.7,89.8z M99.2,89.8c0,0.3-0.2,0.5-0.5,0.5
                                        s-0.5-0.2-0.5-0.5V33c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5V89.8z M100.4,22.5H72.2v-2.2h28.1V22.5z">
                                        </path>
                                        <rect x="62.3" y="98.9" class="st0" width="28.1" height="2.2"></rect>
                                        <rect x="48.3" y="98.9" class="st0" width="5.6" height="2.2"></rect>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        顯示卡配件
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/GPUaccessories/stand" class="svelte-1t16q48">顯示卡支架</a><a href="/categories/GPUaccessories/riser-cable" class="svelte-1t16q48">延長線 Riser Cable</a><a href="/categories/GPUaccessories/vertical-stand"
   class="svelte-1t16q48">顯示卡直立支架</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/PSU"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.8.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M105.5,26h-86C17,26,15,27.8,15,30.2v64.7c0,2.3,2,4.2,4.5,4.2h86.1c2.5,0,4.5-1.9,4.5-4.2V30.1
                                        C110,27.8,108,26,105.5,26z M84.7,51.8l5.8-15c0.1-0.3,0.5-0.6,0.8-0.6h8c0.3,0,0.6,0.1,0.7,0.4s0.2,0.6,0.1,0.8l-3.4,7.8h6.8
                                        c0.3,0,0.6,0.2,0.8,0.5c0.2,0.3,0.1,0.6,0,0.9L92,65.4c-0.2,0.3-0.4,0.4-0.7,0.4c-0.1,0-0.2,0-0.3-0.1c-0.4-0.2-0.6-0.6-0.5-1
                                        L93.4,53h-7.9c-0.3,0-0.6-0.1-0.7-0.4C84.6,52.3,84.6,52,84.7,51.8z M49.6,34.9c7,0,13.4,2.6,18.2,6.9l-5.5,5.5
                                        c-3.5-2.9-7.9-4.6-12.7-4.6c-5,0-9.5,1.9-13,4.9l-5.5-5.5C36,37.7,42.4,34.9,49.6,34.9z M47,62.7l-3.1,3.1c-0.6-1-0.9-2.1-0.9-3.4
                                        c0-1.1,0.2-2.1,0.8-3.1L47,62.7z M45.9,57c1-0.7,2.3-1.1,3.7-1.1c1.3,0,2.4,0.3,3.4,0.9l-3.6,3.6L45.9,57z M49.4,65.1l3.3,3.3
                                        c-0.9,0.5-2,0.8-3.1,0.8c-1.3,0-2.4-0.3-3.4-0.9L49.4,65.1z M51.7,62.7l3.6-3.6c0.6,1,0.9,2.1,0.9,3.4c0,1.3-0.4,2.6-1.1,3.7
                                        L51.7,62.7z M55.3,54.4c-1.7-1.2-3.6-1.9-5.7-1.9c-2.3,0-4.3,0.8-6.1,2L39,50c2.9-2.4,6.6-3.9,10.6-3.9c3.9,0,7.5,1.4,10.4,3.7
                                        L55.3,54.4z M41.3,57c-1,1.6-1.7,3.5-1.7,5.5c0,2.1,0.7,4.2,1.9,5.7l-4.6,4.6c-2.3-2.8-3.7-6.4-3.7-10.4c0-3.8,1.3-7.3,3.5-10.1
                                        L41.3,57z M43.9,70.6c1.7,1.2,3.6,1.9,5.7,1.9c2,0,3.9-0.6,5.5-1.7l4.6,4.6c-2.8,2.2-6.3,3.5-10.1,3.5c-3.9,0-7.5-1.4-10.4-3.7
                                        L43.9,70.6z M57.5,68.6c1.3-1.7,2-3.8,2-6.1c0-2.1-0.7-4.2-1.9-5.7l4.6-4.6C64.6,55,66,58.6,66,62.5c0,4.1-1.5,7.8-3.9,10.6
                                        L57.5,68.6z M23.7,34c1.4,0,2.6,1.2,2.6,2.6c0,1.4-1.2,2.6-2.6,2.6s-2.6-1.2-2.6-2.6S22.3,34,23.7,34z M23.7,91
                                        c-1.4,0-2.6-1.2-2.6-2.6s1.2-2.6,2.6-2.6s2.6,1.2,2.6,2.6C26.4,89.8,25.2,91,23.7,91z M22.1,62.5c0-6.9,2.5-13.2,6.7-18l5.5,5.5
                                        c-2.8,3.4-4.5,7.8-4.5,12.5c0,4.9,1.7,9.3,4.6,12.7L29,80.8C24.7,75.9,22.1,69.6,22.1,62.5z M49.6,90.1c-7,0-13.4-2.6-18.2-6.9
                                        l5.5-5.5c3.5,2.9,7.9,4.6,12.7,4.6c4.7,0,9-1.7,12.5-4.5l5.5,5.5C62.8,87.5,56.5,90.1,49.6,90.1z M64.5,75.5c3.1-3.5,4.9-8,4.9-13
                                        c0-4.9-1.7-9.3-4.6-12.7l5.5-5.5c4.3,4.9,6.9,11.2,6.9,18.3c0,7.2-2.8,13.7-7.2,18.5L64.5,75.5z M75.5,91c-1.4,0-2.6-1.2-2.6-2.6
                                        s1.2-2.6,2.6-2.6s2.6,1.2,2.6,2.6C78,89.8,76.9,91,75.5,91z M75.5,39.2c-1.4,0-2.6-1.2-2.6-2.6C72.8,35.2,74,34,75.5,34
                                        c1.4,0,2.6,1.2,2.6,2.6C78,38.1,76.9,39.2,75.5,39.2z M105,86.8c0,1.1-0.9,2-2,2H85.9c-1.1,0-2-0.9-2-2V78c0-0.5,0.2-1,0.6-1.4
                                        l1.8-1.8c0.4-0.4,0.9-0.6,1.4-0.6h13.5c0.5,0,1,0.2,1.4,0.6l1.8,1.8c0.4,0.4,0.6,0.9,0.6,1.4C105,78,105,86.8,105,86.8z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        電源供應器
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/PSU/600W" class="svelte-1t16q48">600W 或以下</a><a href="/categories/PSU/650W-800W" class="svelte-1t16q48">650W-800W</a><a href="/categories/PSU/850W-1000W" class="svelte-1t16q48">850W-1000W</a><a href="/categories/PSU/1050W-1200W" class="svelte-1t16q48">1050W-1200W</a><a href="/categories/PSU/1250Wup" class="svelte-1t16q48">1250W 或以上</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list-item svelte-1t16q48">
                                <a class="item-img svelte-1t16q48" href="/categories/software"><!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1"
                                         id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         wieght="100"
                                         height="100"
                                         x="0px"
                                         y="0px"
                                         viewBox="0 0 125 125"
                                         style="enable-background:new 0 0 125 125"
                                         xml:space="preserve">
                                        <style type="text/css">
	.st0{fill:#6D2BBB;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M105.4,23.1h-86c-2.5,0-4.5,2-4.5,4.5v69.7c0,2.5,2,4.5,4.5,4.5h86.1c2.5,0,4.5-2,4.5-4.5V27.5
                                        C109.9,25.1,107.9,23.1,105.4,23.1z M100.8,27.4c1.6,0,2.8,1.3,2.8,2.8c0,1.6-1.3,2.8-2.8,2.8c-1.6,0-2.8-1.3-2.8-2.8
                                        C97.9,28.8,99.1,27.4,100.8,27.4z M91.4,27.4c1.6,0,2.8,1.3,2.8,2.8c0,1.6-1.3,2.8-2.8,2.8c-1.6,0-2.8-1.3-2.8-2.8
                                        C88.4,28.8,89.8,27.4,91.4,27.4z M81.9,27.4c1.6,0,2.8,1.3,2.8,2.8c0,1.6-1.3,2.8-2.8,2.8c-1.6,0-2.8-1.3-2.8-2.8
                                        S80.4,27.4,81.9,27.4z M104.9,93.7c0,1.6-1.3,3-3,3H23c-1.7,0-3-1.3-3-3V40.3c0-1.7,1.3-3,3-3h79c1.7,0,3,1.3,3,3V93.7z">
                                        </path>
                                        <path class="st0" d="M62.5,75c4.4,0,8-3.6,8-8s-3.6-8-8-8s-8,3.6-8,8S58,75,62.5,75z">
                                        </path>
                                        <path class="st0" d="M97.9,42.3H27c-1.1,0-2,0.9-2,2v45.4c0,1.1,0.9,2,2,2h71c1.1,0,2-0.9,2-2V44.3C99.9,43.2,99.1,42.3,97.9,42.3z
                                        M81.9,69.1c0,0.5-0.4,1-0.9,1.1l-4.5,1.1c-0.3,0.8-0.6,1.6-1,2.4l2.1,3.4c0.2,0.5,0.2,1-0.2,1.4l-3.2,3.2c-0.4,0.4-1,0.5-1.4,0.2
                                        c0,0-2.3-1.3-3.4-2c-0.8,0.5-1.6,0.8-2.5,1.1l-1.1,4.5c-0.1,0.5-0.6,0.9-1.1,0.9h-4.6c-0.5,0-1-0.4-1.1-0.9L58,81
                                        c-0.9-0.2-1.7-0.6-2.5-1c-1.1,0.7-3.3,2-3.3,2c-0.5,0.2-1,0.2-1.4-0.2l-3.2-3.2c-0.4-0.4-0.5-1-0.2-1.4l2-3.3
                                        c-0.5-0.8-0.8-1.6-1.1-2.5l-4.5-1.1c-0.5-0.1-0.9-0.6-0.9-1.1v-4.6c0-0.5,0.4-1,0.9-1.1l4.5-1.1c0.2-0.8,0.5-1.5,0.9-2.2L47,56.5
                                        c-0.2-0.5-0.2-1,0.2-1.4l3.2-3.2c0.4-0.4,0.9-0.5,1.4-0.2l3.6,2.2c0.8-0.4,1.7-0.8,2.6-1.1c0.3-1.4,1.1-4.5,1.1-4.5
                                        c0.1-0.5,0.6-0.9,1.1-0.9h4.6c0.5,0,1,0.4,1.1,0.9l1.1,4.5c0.8,0.2,1.6,0.6,2.4,1l3.5-2.1c0.5-0.2,1-0.2,1.4,0.2l3.2,3.2
                                        c0.4,0.4,0.5,1,0.2,1.4c0,0-1.4,2.4-2.1,3.5c0.4,0.8,0.7,1.7,1,2.5l4.5,1.1c0.5,0.1,0.9,0.6,0.9,0.9V69.1z">
                                        </path>
                                        </g>
                                    </svg>
                                    <p class="img-title svelte-1t16q48">
                                        軟件
                                    </p>
                                </a>
                                <div class="item-main svelte-1t16q48">
                                    <a href="/categories/software/OS" class="svelte-1t16q48">作業系統</a><a href="/categories/software/suites" class="svelte-1t16q48">應用程式</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $(".dropbtn").click(function(){
            // Hide all other dropdown contents
            $(".dropdown-content").not($(this).next(".dropdown-content")).hide();

            // Toggle the visibility of the clicked dropdown content
            $(this).next(".dropdown-content").toggle();
        });
    });
    </script>
{% endblock %}
