<!-- order_form.html.j2 -->
{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>{{ title }}</h1>
    <!-- Product Search -->
    <form method="GET">
        <input type="text" name="query" placeholder="Search products" value="{{ request.args.get('query', '') }}">
        <input type="submit" value="Search">
    </form>

    <!-- Category Selector -->
    <form method="POST" id="categoryForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" class="form-control" onchange="document.getElementById('categoryForm').submit();" style="max-height: 200px; overflow-y: auto;">
                <option value="">All</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <!-- Order Form -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.product_id.label }}<br>
            <select name="product_id" multiple>  <!-- 創建一個多選的選單 -->
                {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <!-- Product List -->
    {% for product in products %}
        <div>
            <h2>Product ID: {{ product.id }}</h2>
            <h2>Product Name: {{ product.name }}</h2>
            <h2>Product Price: {{ product.price }}</h2>  <!-- 顯示產品價格 -->
            <!-- Add to Cart Button -->
            <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                <input type="submit" value="Add to Cart">
            </form>
        </div>
    {% endfor %}
{% endblock %}